PROJECT_NAME="Personal Finance API"
DATABASE_URL="postgresql+asyncpg://postgres:[YOUR-PASSWORD]@db.[YOUR-SUPABASE-REF].supabase.co:5432/postgres"
SUPABASE_JWT_SECRET="YOUR_SUPABASE_JWT_SECRET" # Lấy tại Supabase Dashboard -> Project Settings -> API

# SUPABASE_URL=https://your-supabase-project-ref.supabase.co
# SUPABASE_KEY=your-supabase-anon-or-service-role-key

# TELEGRAM_BOT_TOKEN=your-telegram-bot-token
# GEMINI_API_KEY=your-gemini-api-key

# Password Supabase: lOjbZ3tC0Nj5u6H9
